extends ../layout.jade
block contenido
	- nvotos = 0
	if (nvotos == 0)
		//- p Gracias
		- nvotos = 1
	else
		//- p Ya voto usted

	h2 Vota por mejor profesor
	each product in products
		div( class="col-md-1 col-sm-4 col-xs-4 inline-block" )
			form(method="POST" action="/menu/#{product.id}?_method=put" enctype="multipart/form-data")
				label.col-sm-2.control-label(name='title') #{product.title}   
				label.col-sm-2.control-label(name='id' style="visibility:hidden") #{product.id}
				img( src="#{ product.image.url }" class="col-xs-10 no-float img-circle")
				//-label.col-sm-2.control-label(name='pricing') #{product.pricing}
				//-label.col-sm-2.control-label(name='password' ) usuario
				input(type="text" name="password" class="form-control" value="usuario" style="visibility:hidden")
				input(type="submit" class="btn btn-info form-control" value="votar")